.container {
    background-color: #faeed7;
    margin-top: 13vh;
    height: 90vh;
    padding-top: 120px;


    .title {
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.349);
        padding-bottom: 20px;
    }

    .content {
        border-bottom: 1px solid rgba(0, 0, 0, 0.349);
        padding: 20px 10px;
        margin-bottom: 20px;
        line-height: 2;
        background-color: #faeed7;
    }

    .etcItem {
        margin-top: 20px;
        
        .signIn {
            text-align: center;

            &:hover {
                color: #faeed7;
            }
        }
        
        .findPassword {
            text-align: center;
        }
    }
}