$buttonPupple: #807aa0;
.chatWrapper {
  width: 700px;
  .headerStyle {
    background: $buttonPupple;
    color: #fff;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      cursor: pointer;
      float: right;
    }
  }

  .chatContents {
    display: flex;
    justify-content: space-between;
  }
}

.infoWrapper {
  width: 200px;
}
.noWrapper {
  width: 0;
}
