$buttonPupple: rgb(128, 122, 160);
$buttonPupple: #807aa0;
$originBack: rgba(128, 122, 160, 0.27);
$headerColor: #1b1511;
$fontColor: #ffa927;
$secondColor: wheat;

.profile {
  width: 40%;
  background-color: wheat;

  li {
    // border: 1px skyblue solid;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;

    // 프로필 이미지 컨테이너
    .profileImgContainer {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      border-radius: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
      }
    }

    .profileName {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .profileName:hover {
      color: $buttonPupple;
    }

    // 프로필 사진에 hover했을 때 프로필 이름의 색깔이 바뀜
    .profileImgContainer:hover + .profileName {
      color: $buttonPupple;
    }
  }
}
