.filterTag {
  margin-top: 5vh;
  display: flex;

  .tag {
    background: #e6e6e6;
    border: #b3b3b3 1px solid;
    color: #8b8b8b;
    border-radius: 15px;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 14px;
  }

  .keywordTagContainer {
    margin-left: 1.5rem;
    display: flex;
    height: 85%;
    align-items: center;

    .keywordTag {
      background: rgb(210, 210, 255);
      color: rgb(42, 42, 255);
      border-radius: 10px;
      padding: 0.5rem;
      margin-right: 13px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      padding: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #222222;
    }
  }
}

.filter {
  margin-top: 60px;
  display: flex;
}

.selection {
  margin: 20rem;
}

.inputWrapper {
  margin-top: 50px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;

  strong {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
  }

  .input {
    width: 330px;
  }
}

.searchButton {
  cursor: pointer;
  padding: 2rem 0 0;
  &:hover {
    color: #807aa0;
  }
}

.icon {
  cursor: pointer;
}
