@import 'styles.scss';


.footer {
    width: 100%;
    height: 25vh;
    background-color: #1B1511;
    // margin-top: 150px;
    color: #FFA927;
    border-top: 2px solid rgba(255, 169, 39, 0.212);
    
    align-content: center;
    position: relative;
    


    .footerContainer {
        // background-color: red;
        width: 70%;
        height: 20vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 550;
    }

    li {
        width: fit-content;
        cursor: pointer;
        margin: 15px;
        // background-color: red;
    }

    .none li {
        cursor: default;
    }

    .goUpButton {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 9999;
        
    }

   

}