@import 'styles.scss';


.footer {
    width: 100%;
    height: 25vh;
    background-color: $main;
    margin-top: 150px;
    
    align-content: center;
    


    .footerContainer {
        // background-color: red;
        width: 70%;
        height: 20vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 550;
    }

    li {
        width: fit-content;
        cursor: pointer;
        margin: 15px;
        // background-color: red;
    }

    .none li {
        cursor: default;
    }

}