@import 'styles.scss';



.graphContainer {
    width: 50%;
    background-color: white;

    .title {
        width: 40%;
        margin: 0 auto;
        padding: 200px 0 20px;
        color: #1B1511;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 30px;
        border-bottom: solid 2px;
    }

    .graph {
        width: 40%;
        margin: 50px auto;
    }
}