@import 'styles.scss';

.changeHeader {
  background-color: #ffffff !important;
  height: 7vh !important;
}
.changeItem {
  height: 7vh !important;
  padding-bottom: 20px;
}

.changeBtnGroup {
  top: 20px !important;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: $main;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  padding-left: 400px;

  font-weight: bold;

  .headerContainer {
    display: flex;

    // border-bottom: solid 1px gray;
    // box-shadow: 0 3px 2px -2px rgb(177, 177, 177);
  }

  .headerItem {
    display: flex;
    width: 30%;
    margin-left: 120px;
    align-items: end;
    justify-content: space-between;
    // background-color: red;

    .items {
      font-weight: 500;
      cursor: pointer;
    }

    .items:hover {
      color: grey;
    }
  }

  .btnGroup {
    display: flex;
    position: absolute;
    top: 30px;
    right: 10px;
    padding-right: 400px;
    height: 10px;

    font-weight: bold;
  }

  .btn {
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
  }

  .btn1 {
    color: black;
    background-color: white;
    margin-right: 30px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .btn1:hover {
    color: gray;
  }

  .btn2 {
    color: white;
    background-color: $darkBackground;
  }
  .btn2:hover {
    color: grey;
  }
}

.loginName {
  margin-top: 3rem;
}
