@import 'styles.scss';

.header {
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    background-color: $header;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    

    .header-container {
        width: 70%;
        margin: 0 auto;
        background-image: '../../../assets/img/grey.jpg';
        display: flex;
        // background-color: red;
        position: relative;
        padding-bottom: 20px;
        border-bottom: solid 1px gray;
        box-shadow: 0 3px 2px -2px rgb(177, 177, 177);
        
        
    }

    .header-item {
        display: flex;
        width: 30%;
        margin-left: 120px;
        align-items: end;
        justify-content: space-between;
        // background-color: red;

        .items {
            font-weight: 500;
            cursor: pointer;
        }

        .items:hover {
            color: grey;
        }
    }

    
    .btn-group {
        display: flex;
        position: absolute;
        top: 75px;
        right: 10px;
    }

    .btn {
        width: 70px;
        height: 30px;
        text-align: center;
        padding-top: 7px;
        border-radius: 20px;
        font-size: 13px;
        cursor: pointer;
    }

    .btn1 {
        color: black;
        background-color: white;
        margin-right: 30px;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn1:hover {
        color: gray;
    }

    .btn2 {
        color: white;
        background-color: $darkBackground;
        
    }
    .btn2:hover {
        color: grey
    }

    
}
