@import 'styles.scss';

.changeHeader {
  background-color: #ffffff !important;
  height: 7vh !important;
  padding-left: 360px !important;
}
.changeItem {
  height: 7vh !important;
  padding-bottom: 20px;
}

.changeBtnGroup {
  height: 5.3vh !important;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: $main;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  padding-left: 300px;
  z-index: 999;

  

  .headerContainer {
    display: flex;

    .headerItem {
      display: flex;
      width: 600px;
      margin-left: 50px;
      align-items: end;
      justify-content: space-around;
  
      .items {
        font-weight: 500;
        cursor: pointer;
      }
  
      .items:hover {
        color: grey;
      }
    }
  
    .btnGroup {
      display: flex;
      margin-left: 20px;
      
  
      .login {
        // background-color: orange;
        width: 450px;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-right: 40px;
        

        .user {
          text-align: center;
      

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }


          .name {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

     .logout {
        width: 450px;
        display: flex;
        align-items: end;
        justify-content: center;
     }

      .btn {
        width: 70px;
        height: 33px;
        text-align: center;
        padding-top: 9px;
        border-radius: 20px;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 30px;
      }
    
      .btn1 {
        color: black;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    
      .btn1:hover {
        color: gray;
      }
    
      .btn2 {
        color: white;
        background-color: $darkBackground;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .btn2:hover {
        color: grey;
      }
    }
  
    

  }

  
}

.loginName {
  margin-top: 3rem;
}
