@import '../App.css';

.sns-container,
.hr-container,
.form-container,
.login-container {
  display: flex;
}
.sns-container > div,
.hr-container > div,
.form-container > div,
.login-container > div {
  width: 50%;
  flex: 1;
}

/* * 표시는 필수 작성입니다. */

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  font-size: 12px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 5px;
}

/*** 회원 가입 폼 ***/

/* sns 회원가입 텍스트,
회원가입 폼 내부의 소제목(ex. 아이디) */
.user-input-form label,
div h6,
div p {
  font-weight: 400;
  font-size: small;
  color: rgba(0, 0, 0);

  margin-top: 10px;
}

/* 사진 올리기 */
.image_container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 사용자가 입력하는 */
label,
h6 {
  font-weight: 700;
}

.user-input-form {
  padding-left: 5px;
}
.user-input-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.user-input-form > div > input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #94989b;
  width: 100%;
  margin-top: 10px;
}

.add-list ul {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.add-list ul li {
  margin: 0 0 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  padding: 5px;
  width: 22%;
  text-align: center;
}

/* input창과 버튼 */
.user-input-form .btn-input {
  width: 100%;
}

.user-input-form .btn-input input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #94989b;
  width: 75%;
  margin: 10px 5% 0px 0px;
}

.user-input-form .btn-input button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #94989b;
  width: 20%;
}
