.backScreen {
  background-color: #faeed7;
}

.mypageContainer {
  margin: 12vh auto 0;
  color: black;
  background-color: #faeed7;
  display: flex;
  height: 80vh;
  width: 60%;
  padding: 4vh 0;
  overflow: auto;

  .side {
    border-right: 1px solid #dcdcdc;
    width: 200px;
    padding-left: 20px;
    color: #ffa927;
    transition:
      background-color 0.3s,
      color 0.3s;

    .title {
      font-size: 26px;
      margin-bottom: 30px;
      color: #ffa927;
      font-weight: bold;
    }

    .titleContent {
      margin-top: 20px;
      list-style-type: none;
      padding: 0;

      li {
        height: max-content;
        margin-bottom: 20px;
        padding: 10px 0;
        cursor: pointer;
        transition:
          color 0.3s,
          background-color 0.3s,
          transform 0.3s;
        border-radius: 5px;
        font-size: 18px;

        &:hover {
          color: #1b1511;
          background-color: #ffa927;
        }
      }
    }
  }

  .activeStyle {
    font-weight: 700;
    color: #1b1511;
    background-color: #ffa927;
    border-left: 4px solid #ffa927;
    padding-left: 16px;
  }

  .mainContainer {
    // background-color: greenyellow;
    width: 800px;
    padding-left: 80px;

    .head {
      display: flex;
      border: 1px solid black;
      border-radius: 20px;
      height: 150px;
      align-items: center;
      text-align: center;

      .headTitle {
        flex-grow: 1;

        h2 {
          text-align: center;
        }
      }

      .headContent {
        display: block;
        flex-grow: 3;
        .first {
          display: flex;
          justify-content: space-around;

          li {
            width: 75px;
            height: 75px;
            border: 1px solid black;
            border-radius: 50%;
            align-content: center;
          }
        }

        .second {
          display: flex;
          justify-content: space-around;
          margin-top: 10px;
        }
      }
    }

    .content {
      margin-top: 40px;
      // background-color: red;
      height: 500px;
    }
  }
}

.activeStyle {
  font-weight: 700;
}
