.sArticle {
  margin-top: 4rem;
  display: flex;

  //   border: #000 1px solid;
  border-radius: 20px;

  overflow: hidden;
  position: relative;
  box-shadow: 3px 4px 5px 5px rgb(207, 207, 207);

  cursor: pointer;

  &:hover {
    background: #000;
  }

  .sImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
    width: 13rem;
    height: 8rem;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;

    .sTitle {
      font-weight: 700;
    }

    .sDatetime {
    }
  }
}
