$buttonPupple: #807aa0;
.chatWrapper {
  width: 700px;
  overflow: auto;
  .headerStyle {
    background: $buttonPupple;
    color: #fff;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      cursor: pointer;
      float: right;
    }
  }

  .articleContents {
    padding: 2rem;

    h2 {
      font-size: 26px;
      margin-bottom: 1rem;
    }
    .imgContainer {
      img {
      }
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }

    p.dateTime {
      color: rgb(173, 173, 173);
    }

    p.text {
      line-height: 1.5;
    }

    .source {
      display: flex;
      color: rgb(173, 173, 173);

      p.newsAgency {
        margin-right: 0.6rem;
      }

      p.writer {
      }
    }

    a.articleLink {
      &:hover {
        color: #807aa0;
      }
    }
  }

  footer.reply {
    margin: 3rem;
    padding: 0 1rem;

    h3 {
      font-size: 1.1em;
      margin-bottom: 1.5rem;
    }

    ul.replyList {
      li {
        margin-bottom: 1.8rem;

        p {
          margin: 0.4rem;
        }

        .commentHeader {
          display: flex;
          justify-content: space-between;
          .replyWriter {
            font-weight: 700;
            display: flex;
            justify-content: left;
            align-items: center;
            .profile {
              margin-right: 0.8rem;
            }

            .email {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .crud {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: 'pointer';
          }
        }

        p.replyContent {
          margin-top: 0.6rem;
          min-height: 30px;
        }

        // p.replyDate {
        //   font-size: 0.8em;
        //   color: rgb(199, 199, 199);
        // }
      }
    }
  }
}

.infoWrapper {
  width: 400px;
  // border: 1px tomato dashed;
}
.noWrapper {
  width: 0;
}

.fadeIn {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    // transform: translateX(-50px);
    width: 0;
  }
  to {
    opacity: 1;
    // transform: translateY(0);
    width: 400px;
  }
}

.profile {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
}

.notLoggedInMesage {
  margin: 2rem;
  font-size: 1.2em;
  p {
    margin: 0.8em auto;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
