$headerColor: #1b1511;
$fontColor: #ffa927;
$secondColor: wheat;
.newsListWrapper {
  position: relative;

  .scrollToTop {
    position: fixed;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -90%);
  }

  // 뉴스 기사 목록
  ul.sNewsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // 하나의 기사
  }

  .loadBtn {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .Btns {
      color: $headerColor;
      border-color: $headerColor;
      &:hover {
        background-color: rgba(27, 21, 17, 0.05);
      }
    }

    .commonBtns {
      width: 300px;
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
