@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.sArticle {
  margin-top: 4rem;
  display: flex;

  //   border: #000 1px solid;
  border-radius: 20px;

  overflow: hidden;
  position: relative;
  box-shadow: 3px 4px 5px 5px rgb(207, 207, 207);

  cursor: pointer;

  .sImgContainer {
    width: 245px;
    height: 140px;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;

    img {
      width: auto;
      height: 100%;
      display: block;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition:
        opacity 0.5s,
        -webkit-transform 0.5s;
      transition:
        opacity 0.5s,
        -webkit-transform 0.5s;
      transition:
        opacity 0.5s,
        transform 0.5s;
      transition:
        opacity 0.5s,
        transform 0.5s,
        -webkit-transform 0.5s;
    }

    img.noimage {
      max-width: none;
      max-height: none;
    }
  }

  ul {
    position: relative;
    width: 185px;
    padding: 20px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;

    .sTitle {
      font-weight: 700;
    }

    .sDatetime {
    }

    .sContent {
      position: absolute;
      left: 20px;
      right: 20px;

      margin: 0;
      padding: 0;
      color: #666c74;
      line-height: 27px;
      opacity: 0;
      -webkit-transform: translateX(45px);
      transform: translateX(45px);
      -webkit-transition:
        opacity 0.3s,
        -webkit-transform 0.3s;
      transition:
        opacity 0.3s,
        -webkit-transform 0.3s;
      transition:
        opacity 0.3s,
        transform 0.3s;
      transition:
        opacity 0.3s,
        transform 0.3s,
        -webkit-transform 0.3s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  &:hover {
    .sImgContainer {
      img {
        opacity: 0.6;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    .sContent {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    ul {
      width: 300px;
    }
  }
}
