$bg-light: #807aa0;
$bg-point: red;
$pageColor: #1b1511;
$fontColor: #ffa927;

.header {
  margin-bottom: 2vh;
  font-size: 1.8em;
    font-weight: bold;
}

table {
  padding: 1.4rem;
  tr.oneArticle {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px #000 solid;

    padding: 0.8rem;
    font-size: 18px;
    &:hover {
      background-color: rgb(255, 244, 230);
    }
    cursor: pointer;
    td.newsAgency {
      width: 16%;
    }
    td.title {
      width: 74%;
    }
  }
}
