.title {
  margin-top: 13vh;
  width: 100vw;
  height: 30vh;
  
  color: white;
  padding: 3.4rem 10rem;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
  url('../assets/img/regionImg.jpg');
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: cover;


  h1 {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 3.5rem;
  }

  h2 {
      font-size: 18px;
      margin-bottom: 0.7rem;
  }


}

.regionContainer {
  padding: 100px 450px 100px;
  margin: 0 auto;
  background-color: #faeed7;

  

  .tag {
    display: flex;
    color: #1B1511;
    background-color: white;
    font-size: 18px;

    p {
      width: 50%;
      height: 100%;
      padding: 20px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #ececec;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
      }
    }
  }

  .tagBox {
    background-color: #00a2ff;
    color: white;
    font-weight: 500;
    height: 170px;
    text-align: center;
    padding-top: 40px;
    line-height: 2;

    h2 {
      font-size: 26px;
    }
  }

  .activeDust {
    background-color: #999999;
    color: white;
  }

  .activeWeather {
    background-color: #00a2ff;
    color: white;
  }

  .activeCrime {
    background-color: #303030;
    color: white;
  }

  .activeRestaurant {
    background-color: #fdc04f;
    color: white;
  }

  .content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 630px;
    text-align: center;
    padding-top: 53px;
    overflow: auto;
    background-color: white;

    p {
      background-color: #ffedd2d5;
      margin: 0 auto;
      width: 80%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      height: 90%;
      padding: 20px;
      border-radius: 10px;
    }
  }
}
