.outWrapper {
  background-color: #faeed7;
  padding-top: 18vh;
  padding-bottom: 5rem;


  .wrapper {

    height: 100vh;
    padding-bottom: 20px;
    overflow: auto;
    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .board {
      padding: 3rem;

      header {
        padding: 0 2rem;
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        p.title {
          font-size: 27px;
          line-height: 2.2em;
        }

        .writer {
          display: flex;
          justify-content: center;
          align-items: center;
          .email {
            margin-left: 1rem;
          }
        }

        a {
          margin-right: 0.8rem;
        }
      }

      main {
        padding: 0 2rem;
        p.content {
          margin: 2rem 0 2rem;
          line-height: 1.7;
        }

        .boardTags {
          display: flex;
          .tag {
            margin-right: 0.7rem;
          }
        }
      }

      footer {
        padding: 0 2rem;

        .btn {
          color: #1B1511;
          border-color: #1B1511;
        }

        .crud {
          float: right;
          
        }

       
          
        
      }
    }

    .reply {
      margin: 0 3rem 3rem;
      padding: 0 1rem;

      ul.replyList {
        li {
          margin-bottom: 1.2rem;

          .replyContent {
            margin: 0.4rem;
            display: flex;

            p.moddel {
              margin-left: 1rem;

              .icon {
                cursor: pointer;
                &:hover {
                  color: red;
                }
              }
            }
          }
          .replyWriter {
            font-weight: 700;
            display: flex;
            justify-content: left;
            align-items: center;
            .profile {
              margin-right: 0.8rem;
            }

            .crud {
              float: right;
            }
          }
          p.replyContent {
          }
          p.replyDate {
            font-size: 0.8em;
            color: rgb(199, 199, 199);
          }
        }
      }
    }

    .moveToOthers {
      margin: 3rem;
      .prevBoard {
        margin-bottom: 0.7rem;
        cursor: pointer;
      }
      .nextBoard {
        cursor: pointer;
      }
    }
  }
}

.profile {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
}

.boardImg {
  background-color: #ffeac4;
  width: 99%;
  height: 400px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.notLoggedInMesage {
  margin: 2rem;
  font-size: 1.2em;
  p {
    margin: 0.8em auto;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}


.hr {
  border: 0;
  height: 1px;
  background: #1B1511;
  margin: 20px 0;
}