tr.oneItem {
  //   border: 1px green solid;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-evenly;

  &:hover {
    background-color: #fff0d2;
  }


  td {
    cursor: pointer;

    
    
    &.boardNo {
      text-align: center;
      width: 7%;
    }

    &.boardTitle {
      width: 27%;
    }

    &.boardWriter {
      width: 20%;
      text-align: center;
    }

    &.boardDate {
      width: 20%;
      text-align: center;
    }

    
  }

  border-bottom: 1px #000 solid;
}
