.wrapper {
  margin-top: 18vh;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .board {
    margin: 3rem;

    header {
      padding: 0 2rem;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      p.title {
        font-size: 27px;
      }

      p.writer {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        margin-right: 0.8rem;
      }
    }

    main {
      padding: 0 2rem;
      p.content {
        margin: 1rem 0 3rem;
        line-height: 1.7;
      }

      .boardTags {
        display: flex;
        .tag {
          margin-right: 0.7rem;
        }
      }
    }

    footer {
      padding: 0 2rem;

      .crud {
        float: right;
      }
    }
  }

  .reply {
    margin: 3rem;
    padding: 0 1rem;

    ul.replyList {
      li {
        margin-bottom: 1.2rem;

        p {
          margin: 0.4rem;
        }
        p.replyWriter {
          font-weight: 700;
          display: flex;
          justify-content: left;
          align-items: center;
          .profile {
            margin-right: 0.8rem;
          }
        }
        p.replyContent {
        }
        p.replyDate {
          font-size: 0.8em;
          color: rgb(199, 199, 199);
        }
      }
    }
  }
}

.profile {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
}
