.reportListWrapper {
  margin: 3rem;

  // border: 1px yellow solid;

  ul {
    margin: 3rem auto;
    width: 50%;

    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  .pagination {
    // width: 100%;
    // display: flex;
    // justify-content: center;
  }
}
