@import 'styles.scss';

.searchContainer {
    background-color: $puppleBackground;
    width: 45%;
    color: white;


    .title {
        width: 70%;
        margin: 0 auto;
        padding: 200px 0 10px;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        border-bottom: solid 2px;

        .date {
            color: white;
            font-size: 13px;
            font-weight: 400;
            margin-top: 20px;
            text-align: end;
        }
    }

    .contentDetail{
        font-size: 20px;
        margin-top: 70px;
        
        
        li {
            // background-color: red;
            width: 70%;
            margin: 30px auto;
            display: flex;
            
            
            p {
                width: 40px;
                height: 40px;
                color: $puppleBackground;
                font-size: 20px;
                background-color: white;
                border-radius: 50%;
                margin: 0;
                align-content: center;
                text-align: center;
                
            }

            span {
                align-content: center;
                padding: 10px;
                
            }
            
        }
        
       
    }

    

   

    
}