@import 'styles.scss';

.searchContainer {
    background-color: $puppleBackground;
    width: 45%;
    color: white;


    .title {
        width: 70%;
        margin: 0 auto;
        padding: 200px 0 20px;
        text-align: center;
        font-size: 23px;
        border-bottom: solid 2px;
    }

    .contentDetail{
        font-size: 20px;
        margin-top: 70px;
        
        
        li {
            // background-color: red;
            width: 70%;
            margin: 30px auto;
            display: flex;
            p {
                width: 40px;
                height: 40px;
                color: $puppleBackground;
                font-size: 20px;
                background-color: white;
                border-radius: 50%;
                margin: 0;
                align-content: center;
                text-align: center;
            }

            span {
                align-content: center;
                margin-left: 20px;
            }
            
        }
        
       
    }

    

   

    
}