@import 'styles.scss';

.searchContainer {
    width: 50%;
    color: wheat;


    .title {
        width: 40%;
        margin: 0 auto;
        padding: 200px 0 10px;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        border-bottom: solid 2px;

        .date {
            color: wheat;
            font-size: 13px;
            font-weight: 400;
            margin-top: 20px;
            text-align: end;
        }
    }

    .contentDetail{
        font-size: 20px;
        margin-top: 70px;
        
        
        li {
            // background-color: red;
            width: 40%;
            height: 45px;
            margin: 30px auto;
            display: flex;
            align-items: center;
            background-color: wheat;
            color: #1B1511;
            border-radius: 10px;
            
            
            p {
                width: 40px;
                height: 40px;
                color: #1B1511;
                font-size: 20px;
                background-color: #ffc875;
                border-radius: 50%;
                margin: 0;
                align-content: center;
                text-align: center;
                
            }

            span {
                align-content: center;
                padding: 10px;
                
            }
            
        }
        
       
    }

    

    .fade-enter {
        opacity: 0;
      }
      .fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
      .fade-exit {
        opacity: 1;
      }
      .fade-exit-active {
        opacity: 0;
        transition: opacity 500ms ease-out;
      }
      
      
   

    
}