@import 'styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 700px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
    overflow: auto;
    font-family: 'Noto Sans KR', sans-serif

    
}

.header {
    background-color: $buttonPupple;
    color: white;
    padding: 10px;
    font-size: 15px;
    
}
.contentContainer {
    padding: 20px;

    .imgBox {
        text-align: center;
    }
    

    .date {
        margin-top: 10px;
        text-align: end;
        padding: 10px;
        color: $buttonGrey;
    }

    .title {
        font-size: 26px;
    }
    
    .content {
        margin-top: 10px;
        padding: 10px;
        
        line-height: 2;
    };
}
