.filterTag {
  margin: 100px;
  display: flex;

  .tag {
    background: #e6e6e6;
    border: #b3b3b3 1px solid;
    color: #8b8b8b;
    border-radius: 15%;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 14px;
  }
}

.filter {
  margin-top: 60px;
}

.selection {
  margin: 20rem;
}
