@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit; /*'부모로 부터 상속 받겠다'는 의미*/
  text-decoration: none;
}

/* 콘텐츠의 너비를 70%, 가운데로 배치 */
.aspect-ratio {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
}
