* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #1B1511;
}

a {
  color: inherit; /*'부모로 부터 상속 받겠다'는 의미*/
  text-decoration: none;
}

input {
  outline-style: none;
}

/* 콘텐츠의 너비를 60%, 가운데로 배치 */
.aspect-ratio {
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}
